

@import './mixins.scss';

$color: green;

h1 {
    color: $color;

    @include border;

//  .b {
//      color: darken($color, 20);
//
//      @include border;
//  }
}




.nav{
    height:100px;
    a{
        color:#fff;
        &:hover{
            color:#ff6600;
        }
    }
}


